<div #mapContainer class="map"></div>
@if (showList()) {
  <div class="map-container bg-neutral-06">    
    <div class="py-4 bg-neutral-06 h-[213px] -mx-4">
      @if (isLoading()) {
        <div class="flex justify-center items-center p-10 min-h-[200px]">
          <ion-spinner name="crescent" color="primary" class="w-8 h-8"></ion-spinner>
        </div>
      } @else if (users().length > 0) {
        <div class="w-full">
          <swiper-container
            speed="100"
            space-between="12"
            slides-per-view="2.2"
            allow-touch-move="true"
            slides-offset-after="16"
            slides-offset-before="16"
            [modules]="swiperModules"
            [breakpoints]="{ 
              '640': { slidesPerView: 3.2 },
              '768': { slidesPerView: 4.2 },
              '1024': { slidesPerView: 5.2 }
            }"
          >
            @for (user of users(); track user.id) {
              <swiper-slide>
                <user-card 
                  [user]="user" 
                  buttonLabel="View Location"
                  buttonIcon="pi-map-marker"
                  buttonIconPos="left"
                  (cardClicked)="locateOnMap($event)"
                />
              </swiper-slide>
            }
          </swiper-container>
        </div>
      } @else {
        <div class="text-center p-8">
          <ion-icon name="search-outline" class="text-5xl text-gray-400 mb-4"></ion-icon>
          <h3 class="m-0 text-lg font-semibold text-gray-900 mt-0! mb-2">No users found</h3>
          <p class="m-0 text-gray-500 text-sm">Try adjusting your search criteria</p>
        </div>
      }
    </div>
  </div>
}
