<div class="w-full flex flex-col gap-1">
  <div [class]="contentClass()">
    @if (maxLength() > 0) {
      <span class="wrap-break-word whitespace-pre-wrap">
        {{ visibleText() }}
        @if (showToggle()) {
          <button type="button" class="self-start body-14SB accent-blue" (click)="toggle()">
            &nbsp; {{ expanded() ? 'Show less' : ' Show more' }}
          </button>
        }
      </span>
    } @else {
      <span class="wrap-break-word whitespace-pre-wrap">{{ content() }}</span>
    }
  </div>
</div>
