:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  --overflow: hidden;
  display: flex;
  flex-direction: column;
}

.virtual-scroll-viewport {
  width: 100%;
  flex: 1;
  height: 100%;
  overflow-y: auto;
}