<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="flex items-center gap-2 max-sm:px-4 pt-2.5 cursor-pointer max-w-[672px] mx-auto">
      <div class="pi pi-arrow-left" (click)="navigationService.back()"></div>
      <!-- <div class="body-14M neutral-02 text-center w-full">{{ title() }}</div> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" mode="md">
    <ion-refresher-content mode="md"></ion-refresher-content>
  </ion-refresher>
  <div class="min-h-full">
    <div class="w-full max-w-[672px] mx-auto p-6">
      <!-- Event Title -->
      @if (eventTitle()) {
        <div class="body-14R neutral-03 mb-4">{{ eventTitle() }}</div>
      }

      <!-- Section Title -->
      <div class="flex items-center justify-between mb-4">
        <div class="body-16SB neutral-01">{{ title() | titlecase }}</div>
        <div class="body-14M neutral-03">{{ pagination()?.totalCount }}</div>
      </div>

      <!-- Search Bar -->
      <div class="flex items-center justify-between pt-2 pb-4">
        <searchbar
          [placeholder]="'Search by username'"
          [searchQuery]="searchQuery()"
          (searchChange)="onSearchChange($event)"
          (clear)="onClearSearch()"
          class="w-full"
        />
      </div>

      <!-- Loading state -->
      @if (isLoading()) {
        <div class="flex justify-center items-center py-8">
          <ion-spinner name="crescent" class="w-6 h-6"></ion-spinner>
        </div>
      } @else {
        <!-- User List -->
        @for (user of filteredUsers(); track user.id) {
          <div class="border-b border-gray-200">
            <user-card-list [user]="user" />
          </div>
        } @empty {
          <app-empty-state title="No users found" message="" />
        }

        <!-- Load more -->
        @if (hasMore()) {
          @if (hasMore()) {
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreUsers($event)" [disabled]="!hasMore()">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more users..." />
            </ion-infinite-scroll>
          }
        }
      }
    </div>
  </div>
</ion-content>
